@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-[#232428];
  }
}

@layer components {
  /* Header Styles */

  header {
    @apply sticky top-0 z-30 flex w-full items-center justify-between bg-[#E7ECEE] p-4 py-3;
  }

  .logoLinkContainer {
    @apply flex items-center justify-center md:w-1/5;
  }

  .logoContainer {
    @apply relative h-10 w-10 cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerLinks {
    @apply hidden flex-1 items-center justify-center space-x-8 md:flex;
  }

  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerActions {
    @apply relative flex items-center justify-center gap-x-3 md:w-1/5;
  }

  .headerIcon {
    @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .inCartItemsContainer {
    @apply relative cursor-pointer;
  }

  .inCartItems {
    @apply absolute -right-1 -top-1 z-50 flex h-4 w-4 items-center justify-center rounded-full bg-gradient-to-r from-pink-500 to-violet-500 p-2 text-[10px] text-white;
  }

  .profileImg {
    @apply absolute right-0 cursor-pointer rounded-full;
  }

  /* Landing Page Styles */
  .heroSection {
    @apply sticky top-0 mx-auto flex h-screen max-w-[1350px] items-center justify-between px-8;
  }

  .heroTitleContainer {
    @apply space-y-8;
  }

  .title {
    @apply block space-y-3 text-5xl font-semibold tracking-wide lg:text-6xl xl:text-7xl;
  }

  .heroTitle {
    @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-300 hover:before:scale-x-100;
  }

  /* Slide Section Styles */
  .promoSection {
    @apply relative z-40 -mt-[100vh] min-h-screen bg-[#1B1B1B];
  }

  .promosContainer {
    @apply space-y-10 py-16;
  }

  .promoSectionTitle {
    @apply text-center text-4xl font-medium tracking-wide text-white md:text-5xl;
  }

  .promoTabList {
    @apply flex justify-center;
  }
  .promoTab {
    @apply whitespace-nowrap rounded-t-lg py-3 px-5 text-sm font-light outline-none md:py-4 md:px-6 md:text-base;
  }

  .promoTabPanels {
    @apply mx-auto max-w-fit pt-10 pb-24 sm:px-4;
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #bb5cf6) left bottom
      no-repeat;
    background-size: 100% 2px;
  }
}
